* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Helvetica', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#main-header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 5%;
    background-color: transparent;
}

#header-container {
    display: flex;
    width: 100%;
}

.logo-container {
    padding: 0 20px;
}

#logo {
    color: #fff;
    letter-spacing: 6px;
}

#menu {
    display: flex;
    align-items: center;
    width: 60%;
}

#menu ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
}

.menu-link {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border: solid 1px #fff;
    transition: background-color ease-in-out .3s,
    color ease-in-out .3s;
}

.menu-link:hover {
    background-color: #fff;
    color: #333;
}

#hero-section {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.7)), url(../img/consolecontrollers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.hero-text {
    width: 50%;
    text-align: center;
}

.hero-title {
    font-size: 42px;
    color: orange;
    letter-spacing: 6px;
    margin-bottom: 30px;
}

.hero-paragraph {
    letter-spacing: 2px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5em;
}

.read-more {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #333;
    background-color: orange;
    padding: 10px 25px;
    margin-top: 30px;
    border-radius: 12px;
    transition: color ease-in-out .3s, background-color ease-in-out .3s;
}

.read-more:hover {
    background-color: #333;
    color: orange;

}

.cards-section {
    width: 100%;
    height: 80vh;
    padding: 0 5%;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    margin: -150px auto 0 auto;
    width: 100%;
    max-width: 1280px;
    perspective: 5000px;
}

.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 280px;
    height: 400px;
    padding: 50px 20px;
    overflow: hidden;
    background-color: #f4f4f4;
    border-bottom: 18px solid #f4f4f4;
    border-radius: 12px;
    text-align: center;
    line-height: 25px;
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
    transition: transform ease-in-out .3s, height ease-in-out .3s, border-bottom ease-in-out .3s;
}

.card:hover {
    transform: rotateX(20deg) scale(1.1, 1.1);
    height: 640px;
    border-bottom: 0;
}

